.contato{
    background-color: black;
    height: 80vh;
    color: white;
    padding-top: 90px;
}

.contato__chamada{
    max-width: 1300px;
    margin: auto;
    font-family: var(--font-mono);
    text-transform: uppercase;
    color: var(--bronze);
    font-size: 0.9rem;
    position: relative;
}

.contato__chamada::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color:var(--bronze-escuro);
    top: 9px;
    left: -30px;
}

.box-contato{
    display: grid;
    max-width: 1300px;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    gap: 90px;
}

.contato__titulo p:first-child{
    font-size: 5rem;
    text-align: c;
    margin: 20px 0;
    
}

.contato__titulo p:first-child span{
    color: var(--bronze);
    font-style: italic;
}

.contato__titulo p:last-child{
    max-width:400px ;
    font-size: 2rem;
    line-height: 40px;
    margin-bottom: 20px;
    font-family: var(--font-inter);
    font-weight: 200;
}

.contato__titulo p:last-child span{
    color: var(--bronze);
    font-style: italic;
}


.formulario{
    background-color: rgba(82, 78, 78, 0.212);
    
}

.contato__form{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px;
}

.form-campo{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-campo label{
    text-transform: uppercase;
    font-family: var(--font-mono);
    font-size: 0.7rem;
    letter-spacing: 3px;
    padding: 5px;
    margin: 5px;
}

.form-campo input, textarea{
    padding: 5px;
    margin: 5px;
    width: 600px;
    background-color: transparent;
    border: none;
    border-bottom:1px solid var(--bronze) ;
    color: white;
}

.form-campo input:focus,textarea:focus{
    outline: none;
} 

.form-erro{
    color: red;
    font-family: var(--font-inter);
    padding: 5px;
}

.error{
    color: red;
}

.invalid{
    border: 1px solid red !important; 
    border-radius: 10px;
    
}



.valid{
    color: green;
    align-self: center;
    padding-top: 10px;
    font-family: var(--font-mono);

}



.form-botao{
 padding: 10px 20px 10px 20px;
 margin: auto;
 border: none;
 background-color: var(--bronze-escuro);
 color: white;
 font-size: 20px;
 border-radius: 10px;
 cursor: pointer;
 transition: 0.5s;
}

.form-botao:hover{
    background-color: rgb(44, 31, 3);
}