@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url(card-apresentacao.css);
@import url(carrousel.css);
@import url(card-recentes.css);
@import url(card-dedicatoria.css);
@import url(card-servicos.css);
@import url(clientes.css);
@import url(contato.css);
@import url(footer.css);
@import url(header.css);
:root{
    --font-title: "Playfair Display", serif;
    --font-inter : "Inter", sans-serif;
    --font-mono: "JetBrains Mono", monospace;

    --linho: #f5f2ec;
    --cal:#eee9df;
    --pergaminho: #d9d3c4;
    --bege:#EFEDE8;
    --bronze:#9C8560 ;
    --bronze-escuro:#6f5c3f;
    --xisto: #6e6a60;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
