@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url(card-apresentacao.css);
@import url(carrousel.css);
:root{
    --font-title: "Playfair Display", serif;
    --font-inter : "Inter", sans-serif;
    --font-mono: "JetBrains Mono", monospace;

    --linho: #f5f2ec;
    --cal:#eee9df;
    --pergaminho: #d9d3c4;
    --bege:#EFEDE8;
    --bronze:#9C8560 ;
    --bronze-escuro:#6f5c3f;
    --xisto: #6e6a60;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-principal{
    height: 100vh;
    background-image: url(/src/imgs/casa-noturna.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    
}

.box-shadow{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.527), rgba(9, 10, 9, 0.185));
}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    z-index: 1000;
    height: 100px;
    top:0;
    left: 0;
    width: 100%;

}

.header img{
    width: 300px;
}
.nav-header{
    display: flex;
    gap: 30px;
}

.header .nav-header  li{
    list-style: none;
    position: relative;
}

.header .nav-header a{
    font-family: var(--font-inter);
    font-weight: 300;
    text-decoration: none;
    font-size: 1rem;
    color:  white;
    text-transform: uppercase;
    font-weight: 200;
    position: relative;
}

.header .nav-header a:hover::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: white;  
    top: 20px;                
    left: 0;
}


.btn-visita{
    font-family: var(--font-mono);
    font-size: 12px;
    cursor: pointer;
    background-color: transparent;
    padding: 10px;
    border:1px solid white;
    color: white;
    text-transform: uppercase;
}

.btn-visita:hover{
    background-color: white;
    color: black;
}

.card-principal main{
    display: flex; 
    flex-direction: column;
    max-width: 1200px;
    margin-left: 300px;

}
.text-inicio{
    font-family: var(--font-mono);
    text-transform: uppercase;
    color: white;
    font-size: 0.9em;
    margin-bottom: 100px;
    margin-top: 150px;
    position: relative;
}

.text-inicio::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 20px;
    background-color: white;  
    top: 6px;                
    left:-25px;

}

.card-title{
    font-family: var(--font-title);
    font-size: 8rem;
    color: white;
    width: auto; 
    padding-bottom: 50px;
    font-weight: 400;
    margin-top: 350px;
}

.border-inicio{
    width: 1600px;
    border-bottom:1px solid rgba(255, 255, 255, 0.386) ;
}

.card-title span{
    font-style: italic;
}

.infos-card{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 1600px;
    padding: 30px;
}

.text-info-light{
    font-weight: 100;
    font-family: var(--font-mono);
    color: rgb(255, 255, 255);
    font-size: 13px;
}

.card-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: var(--font-title);
    font-size: 28px;
}


.card-recentes{
    margin-top: 60px;
    height: 90vh;
}
